@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(255, 255, 255);
  --background-start: #22c1c3;
  --background-end: #fdbb2d;
  background-color: #fdbb2d;
}

main {
  background: linear-gradient(
    180deg,
    var(--background-start),
    var(--background-end)
  );
}

body {
  color: var(--foreground);
  font-family: "Pacifico", cursive;
  font-size: large;
}

button {
  color: white;
  font-size: larger;
  font: bolder;
  border: 1px solid white;
  transition: all 0.2s;
}

button:hover {
  color: black;
  background-color: white;
}